@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

body{
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: top -50vh left -50vh, top 50vh right -50vh;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Source Sans 3', sans-serif;
}

